* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-family: "Sen", sans-serif;
}
.first-page {
  background: #fffcf4;
  padding-bottom: 65px;
}
.grid.wide.content {
  max-width: 1170px;
}

.btn {
  background-color: #171100;
  width: 118px;
  padding: 17px 10px;
  border-radius: 25px;
}
/* Action  */
.info-menu:hover {
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.info-colump-blog:hover {
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  opacity: 0.9;
}

.sidebar-action a:hover {
  color: black;
  text-decoration: underline;
}

.info-menu a:hover {
  background-color: #ffb900;
}

.btn-read a:hover {
  background-color: #ffb900;
}

/* ======First-page====== */

/* header */
.header-fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
  background-color: #fffcf4;
  padding-bottom: 10px;
}
header .logo {
  margin-top: 14px;
}
.header {
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header .sidebar {
  display: flex;
  align-items: center;
}

.sidebar-action {
  margin-right: 70px;
}

.sidebar-action {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 42px;
}

.sidebar-action a {
  font-weight: 400;
  font-size: 1.6rem;
  color: #5f5b53;
}

.btn.sidebar-btn {
  width: 144px;
}
.btn.sidebar-btn {
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
}
/* hero */
.tong-hero {
  display: flex;
}
.first-page {
  padding-top: 14px;
}
.hero {
  margin-top: 64px;
  display: flex;
}

.hero-img,
.info-hero {
  width: 50%;
}
.hero-img {
  width: 478px;
  margin: auto;
}

.images {
  position: relative;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.hero-img-info {
  display: none;
  position: absolute;
  width: 270px;
  max-width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 12px;
  margin-left: 300px;
  margin-top: 393px;
}

.colump {
  margin: 24px 58px 24px 24px;
  max-width: 100%;
  height: auto;
}
.info-colump {
  display: flex;
  margin-bottom: 14px;
}

.colump p:first-child {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 26px;
  color: #5f5b53;
}

.colump p:last-child {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
  color: #171100;
}

.colump img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.detail-colump {
  margin-left: 16px;
  max-width: 100%;
  height: auto;
}

.info-hero {
  margin-top: 64px;
}

.info-hero h1 {
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 68px;
  letter-spacing: -0.02em;
  color: #171100;
}

.hero-info p {
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 22px;
  line-height: 30px;
  color: #5f5b53;
}

.hero-btn {
  display: flex;
  margin-top: 38px;
}
.hero-btn .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 64px;
  border-radius: 32px;
  background: #ffb900;
}

.btn-hero {
  font-weight: 600;
  font-size: 1.8rem;
  color: #ffffff;
}
.btn-watch {
  display: flex;

  margin-left: 28px;
}

.btn-watch a:nth-child(2) {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}
.data-hero {
  margin-top: 48px;
}
.data {
  display: flex;
  margin-top: 8px;
  align-items: baseline;
}

.data strong {
  font-family: "Sen", sans-serif;
  margin-right: 8px;
  font-weight: 700;
  font-size: 4.4rem;
  color: #171100;
}

.data strong:nth-child(2) {
  margin-left: 28px;
}
/* ====== Second page */
/* Header popular */
.popular .content {
  margin-top: 200px;
}
.header-popular {
  display: flex;
  justify-content: space-between;
}

.intro-popular h2 {
  font-weight: 700;
  font-size: 3.8rem;
  letter-spacing: -0.02em;
  color: #171100;
}

.intro-popular p {
  display: block;
  width: 100%;
  max-width: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
  color: #5f5b53;
  margin-top: 16px;
}
/* List popular */
.menu-popular {
  margin-top: 55px;
}
.info-menu {
  border: 1px solid #e2dfda;
  border-radius: 12px;
  margin-bottom: 10px;
}
.img-info-menu {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.sub-menu {
  margin: 16px 22px 22px 22px;
}
.sub-img {
  display: flex;
  justify-content: space-between;
}
.sub-img h3 {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.info-menu p {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 26px;
  color: #5f5b53;
}

.btn-buy-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.btn-buy-menu strong {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.btn.buy-menu {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
}
/* ====== Third page ======  */
/* Review */
.review {
  background-color: #2e2100;
  margin-top: 200px;
}
.review .content {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 96px;
}

.reviewer .img-reviewer {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 999px;
}
.reviewer h2 {
  font-weight: 700;
  font-size: 2.4rem;
  color: #f7f7f7;
  margin-top: 18px;
}
.reviewer p {
  font-weight: 400;
  font-size: 1.4rem;
  color: #bfbcb3;
  margin-top: 12px;
  margin-left: auto;
}

.action-reviewer {
  margin-top: 28px;
}

/* Content review */
.info-review {
  width: 770px;
}
.info-review p {
  font-weight: 400;
  font-style: italic;
  margin-left: 30px;
  font-size: 2.6rem;
  line-height: 40px;
  color: #ffffff;
}
/* ====== Four page ====== */
/* platform */
.platform .content {
  margin-top: 200px;
}
.learner {
  display: flex;
}
.img-learner,
.info-platform {
  width: 50%;
}
.img-learner {
  display: flex;
}
.img-learner img {
  border-radius: 16px;
}
.img-learner img:first-child {
  margin-top: 34px;
  margin-right: 30px;
  display: none;
}

.img-learner img {
  width: 100%;
  max-width: 100%;
  height: 404px;
  object-fit: cover;
}
/* Lesson */
.info-platform {
  margin-top: 58px;
}

.info-platform h2 {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #171100;
}

.info-platform p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  margin-top: 16px;
}
.platform .btn {
  background-color: #ffb900;
  width: 137px;
}
.info-platform a {
  display: block;
  margin-top: 32px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
}

.lesson {
  display: flex;
  margin-top: 200px;
}

.lesson.row .img-lesson {
  max-width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 15px;
}

.info-lesson h2 {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #171100;
}
.info-lesson p {
  margin-top: 16px;
}

.info-lesson a {
  display: block;
  margin-top: 32px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
}
/* ====== Fifth page ====== */
/* Header our blog */

.our-blog {
  margin-top: 140px;
  background-color: #fffcf4;
}

.our-blog .content {
  padding-top: 96px;
}

.info-blog {
  text-align: center;
}

/* List blog */
.info-colump-blog {
  border: 1px solid #e2dfda;
  border-radius: 16px;
  background: #ffffff;
  margin-top: 20px;
}
.info-blog h2 {
  font-weight: 700;
  font-size: 3.8rem;
  letter-spacing: -0.02em;
  color: #130606;
}
.info-blog p {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  color: #696262;
  margin-top: 16px;
}

.colump-blog {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
}

.img-info-colump {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.sub-colump {
  margin: 20px 20px 28px 20px;
}

.sub-img-blog {
  display: flex;
  align-items: center;
}

.sub-img-blog p {
  margin-left: 4px;
  font-weight: 400;
  font-size: 1.4rem;
  color: #5f5b53;
}

.line {
  width: 160px;
  height: 1px;
  background: #e2dfda;
  border-radius: 0.5px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.sub-colump a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 28px;
  color: #171100;
}

.btn-read {
  margin-top: 12px;
}
.btn.btn-read {
  display: flex;
  width: 118px;
  height: 50px;
  margin-top: 12px;
  font-weight: 600;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.our-blog .action-reviewer {
  margin-top: 38px;
  text-align: center;
  padding-bottom: 96px;
}
/* ====== Last page ====== */
/* Footer */

.footer {
  background: #2e2100;
}
.footer .content {
  padding-top: 50px;
}

.info-footer p {
  width: 267px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 26px;
  color: #bfbcb2;
  margin-top: 18px;
}

.icon-footer {
  margin-top: 18px;
}
.icon-footer a:first-child {
  margin-left: 0px;
}
.icon-footer a {
  margin-left: 18px;
}

.colump-footer {
  display: flex;
  margin-top: 30px;
}

.colump-footer h3 {
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
}

.colump-footer a {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  padding-bottom: 12px;
  color: #bfbcb2;
}
.colump-footer-1 a,
.colump-footer-2 a {
  width: 100px;
}

.colump-footer .line {
  width: 130px;
  height: 1px;
  margin-top: 14px;
  margin-bottom: 28px;
  background: #59554b;
}

.footer .line-footer {
  width: 1170px;
  height: 1px;
  background: #59554b;
  margin-top: 38px;
}

.copyright {
  margin-top: 28px;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  color: #807d74;
  padding-bottom: 28px;
}
.colump-footer-3 {
  margin-top: 20px;
}
.colump-footer-3 p {
  font-size: 1.4rem;
  line-height: 26px;
  color: #bfbcb2;
  margin-bottom: 12px;
}
.colump-footer-3 strong {
  font-weight: 600;
  font-size: 1.4rem;
  color: #ffffff;
}

/* nav menu mobile */

.fa-solid.fa-bars {
  font-size: 5rem;
  margin: 20px 20px;
  padding-top: 10px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeIn linear 0.3s;
}

.sidebar-mobile {
  display: flex;
  transform: translateX(-100%);
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  opacity: 0.9;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 350px;
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.5s;
}

.sidebar-mobile a {
  margin-top: 50px;
  color: black;
}
.fa-regular.fa-circle-xmark {
  font-size: 50px;
  position: absolute;
  margin-top: 10px;
  left: 10px;
  cursor: pointer;
}

.nav-input:checked ~ .overlay {
  display: block;
}

.nav-input:checked ~ .sidebar-mobile {
  transform: translateX(0);
  opacity: 0.9;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}